# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Development cache files
*.sqlite3
*.db

# Virtual environment folder
api_env/

# Log folder
logs/

# Local configuration file
config.py

# Installed dependencies
/venv/
/dist/
/build/

# IDE configuration files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Documentation build files
/docs/_build/

# Log files
*.log
